@import "../variables";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Almost",
		"AmaticSC-Regular", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: "RadioVolna";
	src: url("../fonts/RadioVolna.ttf");
}

@font-face {
	font-family: "AmaticSC-Regular";
	src: url("../fonts/AmaticSC-Regular.ttf");
}

@mixin font-rv($size: false, $weight: false) {
	font-family: $list-header-font, "Source Sans Pro", Helvetica, Arial,
		sans-serif;
	@if $size {
		font-size: $size;
	}
	@if $weight {
		font-weight: $weight;
	}
}

@mixin font-amatic($size: false, $weight: false) {
	font-family: $list-input-font, "Roboto", "Source Sans Pro", Helvetica, Arial,
		sans-serif;
	@if $size {
		font-size: $size !important;
	}
	@if $weight {
		font-weight: $weight;
	}
}

@mixin radio-volna-header {
	@include font-rv(50);
}

@mixin amatic-bold {
	@include font-amatic(24, "bold");
}

@mixin mt($val) {
	margin-top: $val !important;
}

.mt-40 {
	@include mt(40px /*2.5rem*/);
}

.mt-52 {
	@include mt(52px /*3.4rem*/);
}

.mt-20 {
	@include mt(20px /*2rem*/);
}

.mt-10 {
	@include mt(10px /*1rem*/);
}

.area-header {
	font-family: $list-header-font;
	font-size: 36px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none !important;
	outline-width: 0 !important;
}

.font-bold {
	font-weight: bold;
}
