.day-cell {
  border: 1px solid black;
  text-align: center;
  font-family: "RadioVolna";
  font-weight: bold;
  flex: 1;
  min-width: 25px;
  cursor: pointer;
}

.marked {
  background-color: skyblue;
}

.goal-name {
  border-bottom: 1px solid black;
  font-family: "AmaticSC-Regular";
  font-weight: bold;
  font-size: 24px;
}

.tracker-header {
  &:hover {
    span {
      visibility: visible !important;
      cursor: pointer;
    }
  }
}
