// $list-input-font: "AmaticSC-Regular";
// $list-header-font: "RadioVolna";
// $main-lightblue-color: lightblue;
@import "../variables";

.todo-list-header {
  font-size: 24px !important;
  font-family: $list-header-font;
  border-bottom: 1px solid black;

  &:hover {
    span {
      visibility: visible !important;
      cursor: pointer;
    }
  }
}

.list-header-input {
  @extend %amatic-bold;
  outline: none;
  text-align: center;
  width: 100%;
  overflow: hidden;
  border: none;
}

.todos {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    //padding: 0.5rem 0rem;
    margin-bottom: 0.5rem;
  }
}

.list-item-input {
  @extend %amatic-bold;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 18px;
  padding-left: 30px;
  border-bottom: 1px solid black;
  width: 100%;
}

.check-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
}

.list-item {
  &:hover {
    span,
    a {
      visibility: visible;
    }
    cursor: pointer;
  }
}

.list-item-link {
  @extend %hidden-btn;
  left: 88%;
}

.todo-link {
  a:link {
    color: $main-lightblue-color !important;
  }
}

.delete-list-item-btn {
  @extend %hidden-btn;
  left: 93%;
  color: $main-lightblue-color !important;
}

.no-list-header {
  h1 {
    border: none;
  }
}

.month-lists-header {
  h1 {
    @extend %amatic-bold;
    border: none !important;
  }
}

.more-btn {
  @extend %amatic-bold;
  background-color: rgba(135, 206, 235, 0.3) !important;
  font-size: 24px !important;
  padding: 0 20px !important;
  &:hover {
    background-color: $skyblue-color !important;
  }
}
