// $list-input-font: "AmaticSC-Regular";
// $list-header-font: "RadioVolna";
// $main-lightblue-color: lightblue;
@import "../variables";

.list-with-items-header {
	@extend %centered-flex;
	font-size: 1.5rem !important;
	font-family: $list-header-font;
	border-bottom: 1px solid black;

	&:hover {
		span {
			visibility: visible !important;
			cursor: pointer;
		}
	}
}

.list-header-input {
	@extend %amatic-bold;
	outline: none;
	text-align: center;
	width: 70%;
	border: none;
}

.todos {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	li {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 0.5rem;
	}
}

.list-item-input {
	@extend %amatic-bold;
	outline: none;
	border: none;
	font-size: 1.5rem;
	padding-left: 0.6rem;
	width: 100%;
}

.textarea {
	@extend %amatic-bold;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	resize: none;
	font-size: 1.25rem;
	line-height: 1.5rem;
	overflow: auto;
	height: auto;
	padding: 0.3rem;
	width: 100%;

	&:focus {
		outline: none;
	}
}

.item-url {
	a {
		:hover {
			color: $skyblue-color;
		}
	}
	input {
		cursor: pointer;
	}
}

.no-left-padding {
	padding-left: 0;
}

.check-circle {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	border: 1px solid black;
	margin-top: 0.4rem;
}

.list-item {
	flex: 1;
	display: "flex";
	border-bottom: 1px solid black !important;
	justify-content: "flex-start";
	&:hover {
		span,
		a {
			visibility: visible;
		}
		cursor: pointer;
	}
}

.todo-input {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.todo-link {
	a:link {
		color: $main-lightblue-color !important;
	}
}

.delete-list-item-btn {
	@extend %hidden-btn;
	color: $main-lightblue-color !important;
}

.no-list-header {
	h1 {
		border: none;
	}
}

.full-border {
	outline: 1px solid rgba(0, 0, 0, 0.125);
	padding: 1rem 1.25rem;
}

.month-lists-header {
	h1 {
		@extend %amatic-bold;
		border: none !important;
	}
}

.more-btn {
	@extend %amatic-bold;
	background-color: rgba(135, 206, 235, 0.3) !important;
	font-size: 1.5rem !important;
	padding: 0 1.25rem !important;
	margin: 0px auto;
	max-height: 2.5rem;
	&:hover {
		background-color: $skyblue-color !important;
	}
}

.ideas-list {
	margin-top: 1.3rem !important;
}

.important-things {
	margin-top: 1rem !important;
}
