@media all and (min-width: 480px) {
	.login {
		padding: 60px 0;
		margin-top: 25vh;

		form {
			margin: 0 auto;
			max-width: 320px;

			label {
				font-weight: bold;
			}
		}
	}
}

.login-control {
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #dee2e6 !important;
	font-size: 1.375rem !important;
	&:focus {
		border-bottom: 2px solid #2c7eea !important;
		box-shadow: none !important;
	}
}
