.todo-list-header {
  font-size: 24px !important;
  font-family: "RadioVolna";
  border-bottom: 1px solid black;
}

.todos {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 0rem;
    margin-bottom: 0.5rem;
  }
}

.list-item-input {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: "AmaticSC-Regular";
  font-weight: bold;
  padding-left: 30px;
  border-bottom: 1px solid black;
  width: 100%;
}

.check-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
}

.event {
  &:hover {
    span {
      visibility: visible;
    }
    cursor: pointer;
  }
}

.delete-event-btn {
  visibility: hidden;
  position: absolute;
  left: 90%;
  // border-radius: 50% !important;
  color: lightblue !important;
  font-size: 14px;
}
